# .gitignore

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# C++
build/
*.o
*.out

# Logs
logs/
*.log
*.tlog

# OS-specific files
.DS_Store
Thumbs.db

# Dependency directories
/frontend/node_modules/
/backend/node_modules/

