.board {
    width: 80%;
    background-color: #799A41;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr auto;
    border: 1px solid #FFD955;
    padding: 30px 30px 3px 9px;
    row-gap: 3px;
    column-gap: 9px;
}

.board-grid {
    display: grid;
    border: 1px solid #FFD955;
}

.row-labels {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.col-labels {
    display: flex;
    justify-content: space-around;
    grid-column: 2;
    grid-row: 2;
}

.label {
    color: #1E1E1E;
    font-size: 20px;
}

.cell {
    aspect-ratio: 1 / 1;
    border: 1px solid #FFD955;
}

.cell.black {
    background-color: #1E1E1E;
}

.chess-piece {
    width: 90%;
    height: 90%;
    margin-left: 5%;
    margin-top: 5%;
}

.chess-piece svg {
    width: 100%;
    height: 100%;
}

.chess-piece.white svg {
    color: #F0F0F0;
}

.chess-piece.yellow svg {
    color: #FFD955;
}

.chess-piece.white svg:hover {
    color: #FFD955;
}

.chess-piece.yellow svg:hover {
    color: #F0F0F0;
}
