:root {
  --highlight-color: #ffd955;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  background-color: #566f10;
  color: #ffd955;
  flex: 3;
}

h2 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.pieceList {
  display: flex;
  flex: 3;
  overflow-x: auto;
}

.middle {
  display: grid;
  grid-template-columns: 2fr 1fr 3fr 1fr;
  gap: 10px;
  flex: 10;
  padding: 10px;
  background-color: rgba(255, 217, 85, 0.1);
}

.pieceEditor {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pieceDetails {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}

.pieceInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 2;
  height: 100%;
}

.pieceInfo input {
  margin-left: 10px;
  height: min-content;
  flex: 2;
}

.optionalProperties {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.defineMoves {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.defineMoves h3 {
  margin-bottom: 10px;
}

.buttonsColumn {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.buttonsColumn button {
  margin: 5px 0;
}

.footer {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
  padding: 10px;
  background-color: #566f10;
}

.button {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #799a41;
  border: 1px solid transparent;
  padding: 1.5% 3%;
  border-radius: 10px;
  color: #ffd955;
  font-size: 18px;
  transition: all 0.1s;
  cursor: pointer;
}

.button:hover {
  border: 1px solid #ffd955;
}

.svgPlaceholder {
  width: 100%; /* Adjust size as needed */
  height: 100%; /* Adjust size as needed */
  display: flex;
  flex: 5;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 100%;
  height: 100%;
  background-color: var(--highlight-color);
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.name {
  margin-top: 5px;
  color: #ffd955;
}
